{% extends 'base.html' %}


{% block content %}
    <form method="post">
        {% csrf_token %}
{% if messages %}
    <div class="top-bar">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
</div>
{% endif %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="row">
                <div class="row-item">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            </div>
            {% if field.errors %}
                <div class="row-item">
                    {{ field.errors }}
                </div>
            {% endif %}

        {% endfor %}

        {% block formbutton %}
        <button type="submit">SUBMIT</button>
        {% endblock formbutton %}
    </form>
{% endblock content %}